* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container {
    height: 100vh;
    width: 100%;
    background-color: #eef7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    .gallery {
        display: flex;
        justify-content: center;
        align-items: center;

        .img-box {
            width: 80px;
            height: 500px;
            margin: 5px;
            border: 0.5px solid lightgray;
            border-radius: 50px;
            background: url(../img/img-1.jpg);
            background-position: center;
            background-size: cover;
            cursor: pointer;

            h2 {
                opacity: 0;
            }

            &:nth-child(2) {
                background: url(../img/img\ \(2\).jpg);
                background-position: center;
                background-size: cover;
            }
            &:nth-child(3) {
                background: url(../img/img\ \(3\).jpg);
                background-position: center;
                background-size: cover;
            }
            &:nth-child(4) {
                background: url(../img/img\ \(4\).jpg);
                background-position: center;
                background-size: cover;
            }
        }
    }
}